@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

body{
   background-image:url("image/longaswood28.jpeg");
   background-position: center top;
   background-repeat:repeat-y;
   background-size: 100% auto;
   overflow: auto;
   overflow-x: hidden;
   margin: 0;
 }

 html{
   scroll-behavior: smooth;
 }

 * {
  box-sizing: border-box;
}


.navbar {
       background-color: rgb(255, 255, 255);
       position: fixed;
       text-align: center;
       top: 0;
       font-size:2em;
       width: 100%;
       height:10%;
}
.mobileDevice{
  display: none;
}
.pcDevice{
  display: block;
}

.center2 img{
    position: absolute;
    width:10.5%;
    height:auto;
    right:300px;
    top:-5px;
}
.dropdown {
  margin-left:1450px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:1em;
  font-family: 'Assistant', sans-serif;
  color: #ffcc00;
  font-weight: bold;
  letter-spacing: 2px;

}

.dropbtn {
  background-color:#edc009;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #edc009;
}


.navbarB{
       overflow: hidden;
       background-color: rgb(255, 255, 255);
       position:absolute;
       text-align: center;
       top:160%;
       width: 100%;
       height:10%;
}

.gallery{
  position:absolute;
  background-color: #edae39;
  top:40%;
  width: 100%;
  height:101%;
}
img.leftIM {
  margin:20px;
  width:30%;
  height:25%;
  object-fit:cover;
  float: left;
}

img.leftIM:hover {
  border:5px solid #0a0a0a;
  cursor: pointer;
}

/* nav lenad */

.rightB img{
  float:right;
  display: block;
  margin-right:7%;
  width:7.5%;
  height:auto;
  margin-top:-15px;
}

.center img{
    width:7.5%;
    height:auto;
    margin-top:-15px;
}

.leftB img{
     float:left;
     display: block;
     margin-left:7%;
     width:7.5%;
     height:auto;
     margin-top:-15px;
}


.left{
  overflow: hidden;
  float: left;
  color: #ffcc00;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-left:7%;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.left2{
  overflow: hidden;
  float: left;
  color:#ffffff;
  background-color:#fac800;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-left:7%;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.right{
  float:right;
  display: block;
  color: #ffcc00;
  text-align: center;
  padding:0.5em 0.6em;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  margin-right:7%;
  font-weight: bold;
}


.popUpG{
  position:absolute;
  width:45%;
  height:auto;
  top:15%;
  left:28%;
}

.popUpG2{
  position:absolute;
  width:35%;
  height:auto;
  top:145%;
  left:28%;
}


@media screen and (max-width: 850px) {
  .img-wrapper img {
    object-fit: cover;
    width:200px;
    height:200px;
    margin:10px;
  }
  .pcDevice{
    display: none;
  }
  .mobileDevice{
    display: block;
  }
  img.leftIM {
    margin:10px;
    width:30%;
    height:25%;
  }
  .popUpG{
    width:45%;
    height:auto;
    top:10%;
    left:28%;
  }
  .popUpG img{
    width: 100%;
  }
  .gallery{
    top:20%;
    width:100%;
    height:35%;
  }
  .popUpG2{
    position:absolute;
    width:35%;
    height:auto;
    top:58%;
    left:34%;
  }

  .popUpG2 img{
    width: 100%;
  }
  .navbarB{
    top:95%;
    height:6%;
  }
  .leftB img{
       width:10.5%;
       margin-top:-0px;
  }
  .rightB img{
       width:10.5%;
       margin-top:-0px;
  }
  .center img{
    width:10.5%;
    margin-top:-0px;
}
   .navbar {
     font-size:1em;
     height:3%;
     overflow: visible;
   }
   .center img{
       width:6.5%;
  }
}

@media screen and (max-width: 450px) {
  .img-wrapper img {
    width:150px;
    height:150px;

  }
  .dropdown-content a {
    font-size:2em;
  }
  .pcDevice{
    display: none;
  }
  .mobileDevice{
    display: block;
  }
  img.leftIM {
    margin:10px;
    width:25%;
    height:20%;
  }
  .popUpG{
    width:45%;
    height:auto;
    top:10%;
    left:28%;
  }
  .popUpG img{
    width: 100%;
  }
  .gallery{
    top:20%;
    width:100%;
    height:40%;
  }
  .popUpG2{
    position:absolute;
    width:35%;
    height:auto;
    top:65%;
    left:28%;
  }

  .popUpG2 img{
    width: 100%;
  }
  .navbarB{
    top:95%;
    height:6%;
  }
  .leftB img{
       width:10.5%;
       margin-top:-0px;
  }
  .rightB img{
       width:10.5%;
       margin-top:-0px;
  }
  .center img{
    width:10.5%;
    margin-top:-0px;
}
   .navbar {
     font-size:0.5em;
     height:3%;
     overflow: visible;
   }
   .center img{
       width:6.5%;
  }
}

@media screen and (max-width: 375px) {
  .img-wrapper img {
    width:150px;
    height:150px;
    margin:1px;

  }
  .dropdown-content a {
    font-size:2em;
  }
  .pcDevice{
    display: none;
  }
  .mobileDevice{
    display: block;
  }
  .popUpG{
    width:45%;
    height:auto;
    top:10%;
    left:28%;
  }
  .popUpG img{
    width: 100%;
  }
  .gallery{
    top:20%;
    width:100%;
    height:50%;
  }
  .popUpG2{
    position:absolute;
    width:35%;
    height:auto;
    top:85%;
    left:28%;
  }

  .popUpG2 img{
    width: 100%;
  }
  .navbarB{
    top:95%;
    height:6%;
  }
  .leftB img{
       width:10.5%;
       margin-top:-0px;
  }
  .rightB img{
       width:10.5%;
       margin-top:-0px;
  }
  .center img{
    width:10.5%;
    margin-top:-0px;
}
   .navbar {
     font-size:0.5em;
     height:3%;
     overflow: visible;
   }
   .center img{
       width:6.5%;
  }
}


@media only screen and (max-width:1920px)and (min-width:1620px) {
  .navbar {
    font-size:2em;
    height:7%;
  }
  .center img{
      width:5%;
}
 .navbarB{
   top:160%;
   height:8%;
 }
 .leftB img{
   width:7%;
   margin-top:-25px;
 }
 .rightB img{
      width:7%;
      margin-top:-25px;
 }
 .popUpG2{
   left:25%;
 }
}
